.cuerpo{
    height: 80vh;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(rgba(16,29,44, .45), rgba(16,29,44, .45)), url("/jgd.jpg");
    background-size: cover;
}

.titulos{
  overflow-wrap: break-word;
  text-align: left;
  line-height: 1.68;
  font-size: 30px;
  color:  #124e83;
  margin-bottom: 30px;
}

.articulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 40px;
  max-width: 100%;
  margin: auto;
}

.articulo p{
  font-size: 15px;
  text-align: justify;
}

.descripcion{
  width: 90%;
  left: 0;
  margin-bottom: 30px;
}

.foto{
  margin-left:10px;
  margin-top: 50px;
}



@media only screen and (min-width: 874px){
  .cuerpo{
    height: 90vh;
  }

  .articulo{
    height: 77vh;
  }

  .articulo p{
    font-size: 23px;
  }

  .descripcion{
    margin-bottom: 70px;
  }
  
}
