.cuerpo{

    margin-bottom: 40px;
  }
  
  .imagenCabecera{
    /*Código para la imagen del principio del sitio.*/
  }
  
  .articulo{
    padding: 40px;
    max-width: 80%;
    margin: auto;
  }
  
  .articulo p{
    font-size: 15px;
    text-align: justify;
  }


.descripcion{
  float: left;
  width: 60%;
  left: 0;
  margin-bottom: 70px;
}

.foto{
  float: none;
  margin-left:10px;
  width: 500px;
  height: 321px;
  margin-top: 50px;
}

.foto2{
  width: 75%;
  height: 75%;
}
  
  @media only screen and (min-width: 874px){
    .articulo{
      margin-bottom: 80px;
    }
  
    .articulo p{
      font-size: 25px;
    }
  }
  